@import url("../theme/theme.css");
.container-albumcover {
  width: 60vw;
  height: 81vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-albumcover > .albumcover {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: contrast(1) brightness(0.5) blur(0.3em) grayscale(0.5);
}
.container-albumcover > .container-lyrics {
  width: 20vw;
  height: 81vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
}
.container-albumcover > .container-lyrics > p {
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.4em;
  word-spacing: 0.1em;
  color: var(--color_05);
  font-family: var(--roboto);
}
