@import url("../theme/theme.css");
.container-column {
  width: 40vw;
  height: 81vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color_01);
}
.container-column > .legend {
  font-weight: 600;
  font-size: 1.7rem;
  color: var(--color_02);
  font-family: var(--raleway);
}
.container-column > .column {
  width: 40vw;
  height: 81vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}