@import url("../theme/theme.css");
.sound {
  width: 100vw;
  padding: 1em;
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color_04);
}
.title {
  display: flex;
  cursor: default;
  flex-wrap: nowrap;
  flex-direction: column;
  font-family: var(--raleway);
}
.title-sog {
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  color: var(--color_02);
}
.artist {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: var(--color_05);
  font-family: var(--raleway);
}
.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.controls > span {
  padding: 0.3em;
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--color_02);
}
.controls > div > span {
  padding: 0.3em;
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--color_02);
}
.volume {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.volume > input[type="range"] {
  width: 8em;
  margin-left: 0.5em;
  -webkit-appearance: none;
}
.volume > input[type="range"]::-webkit-slider-thumb {
  width: 0.9em;
  border: none;
  height: 0.9em;
  cursor: pointer;
  margin-top: -0.3em;
  border-radius: 100%;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: var(--color_02);
}
.volume > input[type="range"]::-webkit-slider-runnable-track {
  height: 0.3em;
  cursor: pointer;
  appearance: none;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: var(--color_03);
}
